In [16]:
import pandas as pd
import numpy as np


data = pd.read_csv("titanic_for_exercise.csv")

In [22]:
#data.column_name.str.partition("x")[0]

#data.Name.str.partition(" ")[0].value_counts()
#data[data.Name.str.partition(" ")[0] == 'Master.'].Age.value_counts()
data[data.columns]
#data.info()
#data[data.Fare < 0].value_counts()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0.0,3.0,Mr. Owen Harris Braund,male,NaN,1,0.0,7.2500
1,1.0,1.0,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0.0,71.2833
2,1.0,3.0,Miss. Laina Heikkinen,female,26.0,0,0.0,7.9250
3,1.0,1.0,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0.0,53.1000
4,0.0,3.0,Mr. William Henry Allen,male,35.0,0,0.0,8.0500
...,...,...,...,...,...,...,...,...
882,0.0,2.0,Rev. Juozas Montvila,male,27.0,0,0.0,13.0000
883,1.0,1.0,Miss. Margaret Edith Graham,female,19.0,0,NaN,30.0000
884,0.0,3.0,Miss. Catherine Helen Johnston,female,7.0,1,2.0,2.4500
885,1.0,1.0,Mr. Karl Howell Behr,male,26.0,0,0.0,30.0000
886,0.0,3.0,Mr. Patrick Dooley,male,32.0,0,0.0,7.7500

In [13]:
data.Name.value_counts()

Mr. Owen Harris Braund            1
Sir. Cosmo Edmund Duff Gordon     1
Mr. Eliezer Gilinski              1
Mr. Joseph Murdlin                1
Mr. Matti Rintamaki               1
                                 ..
Mr. Bernard McCoy                 1
Mr. William Cahoone Jr Johnson    1
Miss. Nora A Keane                1
Mr. Howard Hugh Williams          1
Mr. Patrick Dooley                1
Name: Name, Length: 886, dtype: int64

In [33]:
#Searching for missing values

#data.loc[:, data.isnull().any()].columns
#data.dropna()
data[data.Name.dtype == "Float64"].value_counts()

KeyError: False